@import '../../../../Styles/variables';
@import '../../../../Styles/index';


.call-to-action-banner {
    width: 100%;
    background-color: $black;
    color: $white;
    @extend .container;
    @extend .section-padding-top-bottom;
    
    h2{
        color: $tiffany;
        text-transform:none;
    }

    h3 {
        font-weight: 300;
    }
}



@media screen and (max-width: 700px){

    .call-to-action-banner{

        h3 {
            font-size: 1.2rem;
        }
    }
}