@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');


.primary-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
$fs-xl: 2rem;
$fs-s: 1.5rem;
$fs-xs: 1.2rem;

