@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Merriweather', serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


//fonts
$fs-large: 2.5rem;
$fs-medium: 2rem;
$fs-small: 1.2rem;
$fs-extra-small: 1rem;
//font-families
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Merriweather', serif;



// headers
h1 {
    font-size: $fs-large;
    font-family: $primary-font;
}

h2 {
    font-size: $fs-medium;
    font-family: $primary-font;
    font-weight: 700;
}

h3 {
    font-size: $fs-small + .2;
    font-family: $secondary-font;
    font-weight: 700;
    margin-top: 2.5rem;
    line-height: 1.9rem;
}

h4 {
    font-family: $primary-font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: $fs-small;
}

p {
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: $fs-small;
}   

@media screen and (max-width: 1188px){
˝
    h3 {
        margin-top: 2.5rem;
    }
    
}
@media screen and (max-width: 700px){

    h2 {
        font-size: $fs-large;
    }

}


// colors 
$black: #000000;
$white: #f1f1f1;
$space-grey: #4B4B4C;
$light-grey: #aaaaaa;
$tiffany: #09AED6;


// shadows
.box-shadow-sharp {
    -webkit-box-shadow: 0px 1px 23px 1px rgba(196,196,196,0.71); 
    box-shadow: 0px 1px 23px 1px rgba(196,196,196,0.71);
}

.box-shadow-blur {
    -webkit-box-shadow: 0px 1px 23px 1px rgba(222,222,222,0.71); 
    box-shadow: 0px 1px 23px 1px rgba(222,222,222,0.71);
}

.dark-shadow {
    -webkit-box-shadow: 0px 5px 12px -2px rgba(140,140,140,0.82); 
    box-shadow: 0px 5px 12px -2px rgba(140,140,140,0.82);
}


// buttons

.main-button {
    text-align: center;
    background-color: $tiffany;
    font-family: $primary-font;
    font-weight: 600;
    color: black;
    padding: 1em 2.5em;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 2rem;
}

// universal styles
.section-padding-top-bottom{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

// gradients
.blue-gradient {
    background: rgb(69,190,220);
    background: linear-gradient(90deg, rgba(69,190,220,1) 0%, rgba(24,163,223,1) 100%);
}