@import '../../../Styles/variables';
@import '../../../Styles/index';


.title-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5vw;

    h4{
        margin-bottom: 1.5rem;
    }

    p {
        margin-top: .5rem;
    }
}
