@import '../../Styles/variables';
@import '../../Styles/index';


#home{

    main {
        color: $white;
        background-image: linear-gradient(
            44deg,#000 56%,#2e2f30);
        height: 700px;
        overflow: hidden;
        position: relative;
        z-index: -1;
    }

    .main-content{
        @extend .container;
        padding-top: 80px;
        position: relative; // for the z-index and the chessboard-img to work.
        z-index: 102;
        padding-left: 40px
    }

    .main-content h2 {
        font-size: $fs-large * 2.5;
    }

    .main-content h3 {
        font-size: $fs-small * 1.5;
    }

    .main-content p {
        width: 40%;
        font-size: $fs-extra-small;
    }

    .gradient-bottom {
        width: 100%;
        height: 350px;
        position: relative;
        top: -35%;
        left: 0;
        background-image: linear-gradient(280deg,#000 45%,#2e2f30);
        -webkit-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        -ms-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        transform: translate(0,60%) rotate(-12deg) scale(1.3);
    }
    
    .chessboard-img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .chessboard-img img{
        width: 100%;
    }

    // .test {
    //     height: 300px;
    //     width: 100%;
    //     background:blue;
    //     margin-top: 10px;
    // }

    .services {
        @extend .section-padding-top-bottom;
        background-color: #efefef;
        position: relative; // to position the .arrow-right 
    }


    .horizontal-carousel {
        padding: 0;
        display: flex;
        overflow-x: auto; // makes it scroll horizontally
        margin-top: 70px;
        margin-left: 10%;
        -ms-overflow-style: none;  /* IE and Edge */ // removes scrollbar
        scrollbar-width: none;  /* Firefox */ // removes scrollbar
    }

    .horizontal-carousel::-webkit-scrollbar {
        display: none;
    }

    .arrow-right {
        position: absolute;
        left: 5%;
        top: 60%;
        color: $light-grey;
    }

    .arrow-right::after {
        content: '\2192';
        /* little make up */
        font-size: 2em;
        /* whatever needed*/
        padding: 0 0.5em;
        /* whatever needed*/
        vertical-align: -0.1em;
        /* whatever needed*/
    }

    .carousel-card {
        min-width: 350px; // makes it 350px on a display flex 
        margin-right: 30px;
        padding: 2.5em;
        padding-top: 2.8em;
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative; // for the card-circle-icon to position
        background-image: linear-gradient(
            180deg,#fff,hsla(0,0%,100%,0));
        transition: all .1s ease-in-out; // makes transition work on hover-off
    }
    
    .carousel-card:hover {
        @extend .box-shadow-sharp;
        transition: all .1s ease-in-out; 
    }

    .card-circle-icon {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        position: absolute;
        top:  -45px;
        left: 2.5em; // same as .carousel-card padding-left
        background-color: #fff;
        @extend .box-shadow-blur;
    }

    .carousel-card h2 {
        color: $tiffany;
        margin-top: 20px;
    }

    .carousel-card h3 {
        margin-top: 1rem;
    }

    .carousel-card p {
        margin-top: 1rem;
    }

    .carousel-card button {
        display: block;
        margin: 0 auto;
        border: none;
        outline: none;
        background: none;
        font-family: $primary-font;
        font-weight: 300;
        font-size: $fs-extra-small;
        color: $light-grey;
        margin-top: 2rem;
        cursor: pointer;
    }

    .main-button {
        @extend .main-button;
    }

    .upcoming-events-container {
        width: 100%;
        @extend .section-padding-top-bottom;
        padding-bottom: 0;
    }

    .flex-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    .col-img {
        width: 60%;
        position: relative; // to make .absolute-text work
    }

    .col-img img {
        width: 100%;
    }

    .absolute-text { 
        width: 60%;
        position: absolute;
        top: 30%;
        left: 0;
        color: $white;
        @extend .container;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    .absolute-text a {
        display: inline-block;
        padding-top: 2rem;
        font-family: $primary-font;
        font-weight: 600;
        color: $white;
    }
    .col-product {
        width: 40%;
        padding: 3rem;
    }

    .col-product .main-button{
        @extend .box-shadow-sharp;
    }

    // Why Us
    .why-us {
        background-color: $black;
        @extend .section-padding-top-bottom;
        color: $white;
    }
    // End Why Us
}


// Start media queries
@media screen and (max-width: 1230px){
    #home {

        .main-content h2 {
            font-size: $fs-large * 2;
        }
    
        .main-content h3 {
            font-size: $fs-small;
        }
    
        .main-content p {
            width: 55%;
        }

        .arrow-right {
            left: 3%;
        }
    }

}

@media screen and (max-width: 990px){
    #home {

        main {
            height: 600px;
        }

        .main-content h2 {
            font-size: $fs-large * 1.3;
        }
    

        .arrow-right {
            display: none;
        }

        .horizontal-carousel {
            width: 100%;
            margin-left: 0;
            padding: 0 2.5vw;
            overflow-x: hidden; 
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .carousel-card {
            width: 47%;
            min-width: unset; // removes min-width so flex-wrap can work
            margin-right: 0;
        }

        .flex-container {
            flex-direction: column;
        }

        .col-img {
            width: 100%;
        }

        .col-product {
            display: none;
        }

        .absolute-text {
            display: block;
        }
    }
}

@media screen and (max-width: 750px){
    #home {
        main {
            height: 500px;
        }

        .main-content p { 
            width: 80%;
        }

        .services {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .horizontal-carousel {
            flex-direction: column;
        }

        .carousel-card {
            width: 100%;
            min-width: unset; // removes min-width so flex-wrap can work
            margin-right: 0;
            background-color: #fff;
            padding: 2em;
        }

        .absolute-text {
            top: 20%;
        }
        .absolute-text h2 {
            font-size: $fs-small;
            line-height: 2rem;
        }

        .absolute-text a {
            font-weight: 300;
        }

    }
}

@media screen and (max-width: 700px){
    #home {


        p {
            font-size: 14px;
        }

        .absolute-text h2 {
            font-size: $fs-extra-small;
            line-height: 1.5rem;
        }

        .absolute-text a{
            padding-top: 1rem;
        }
    }

}