@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Montserrat:wght@400;600;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  letter-spacing: .3px;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: .5px;
}

h3 {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .3px;
}

p {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
  font-weight: 400;
}

@media screen and (max-width: 1188px) {
  ˝ h3 {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

.box-shadow-sharp, #home .col-product .main-button, #home .col-product .main-content .action-btn, #home .main-content .col-product .action-btn, #home .col-product .home-podcast .action-btn, #home .home-podcast .col-product .action-btn {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
}

.box-shadow-blur {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
}

.dark-shadow, .green-button, #home .home-podcast .two-col .col img {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
  box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
}

.main-button, #home .main-content .action-btn, #home .home-podcast .action-btn {
  text-align: center;
  background-color: #88DBFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #13181C;
  padding: 1em 2.5em;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 2rem;
}

.green-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #48EDB8;
  border: none;
  cursor: pointer;
}

.pad-top-bot, #home .home-podcast, #home .upcoming-events-container, #home .why-us {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pad-sides, #home .home-podcast .two-col {
  padding-left: 5vw;
  padding-right: 5vw;
}

.blue-gradient {
  background: #45bedc;
  background: -webkit-gradient(linear, left top, right top, from(#45bedc), to(#18a3df));
  background: linear-gradient(90deg, #45bedc 0%, #18a3df 100%);
}

.chess-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chess-cols h4 {
  font-weight: 600;
  margin-top: 1rem;
  color: #13181C;
}

.chess-info {
  width: 50%;
  padding: 2rem;
}

.chess-graphic {
  width: 50%;
}

.chess-graphic img {
  width: 100%;
}

@media screen and (max-width: 975px) {
  .chess-cols {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .chess-graphic {
    width: 40%;
  }
  .chess-info {
    width: 60%;
    padding: 0;
  }
  .chess-info h2, .chess-info h4, .chess-info p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 835px) {
  .chess-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: #fff;
  }
  .chess-graphic {
    width: 100%;
  }
  .chess-info {
    width: 100%;
    padding: 1.5rem;
  }
  .chess-info h2, .chess-info h4, .chess-info p {
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.container, #home .absolute-text {
  padding-left: 5vw;
  padding-right: 5vw;
}

#home main {
  color: #f1f1f1;
  background-image: linear-gradient(44deg, #000 56%, #2e2f30);
  height: 70vh;
  overflow: hidden;
  position: relative;
}

#home .main-content {
  padding-left: 15vw;
  padding-top: 80px;
  position: relative;
  z-index: 50;
}

#home .main-content h2 {
  font-size: 3rem;
}

#home .main-content h3 {
  font-size: 1.43rem;
  color: #88DBFF;
}

#home .main-content p {
  width: 40%;
}

#home .main-content .action-btn {
  background-color: #13181C;
  border: 2px solid #88DBFF;
  color: #88DBFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#home .main-content .action-btn:hover {
  background-color: #88DBFF;
  border: 2px solid #13181C;
  color: #13181C;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#home .chessboard-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#home .chessboard-img img {
  width: 100%;
}

#home .home-clients {
  background-color: #88DBFF;
  padding-bottom: 2rem;
  color: #13181C;
}

#home .home-clients h4 {
  margin-bottom: 0;
}

#home .home-podcast .title-section {
  padding-top: 0;
}

#home .home-podcast .two-col {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-podcast .podcast-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .home-podcast .action-btn {
  background-color: transparent;
  border: 3px solid #13181C;
}

#home .home-podcast .action-btn:hover {
  background-color: #88DBFF;
  border: 3px solid #88DBFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#home .home-podcast .action-btn:first-child {
  background-color: #88DBFF;
  border: 3px solid #88DBFF;
  margin-right: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#home .home-podcast .action-btn:first-child:hover {
  background-color: transparent;
  border: 3px solid #13181C;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#home .upcoming-events-container {
  width: 100%;
  padding-bottom: 0;
}

#home .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

#home .col-img {
  width: 60%;
  position: relative;
}

#home .col-img img {
  width: 100%;
}

#home .absolute-text {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 0;
  color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#home .absolute-text h2 {
  font-family: "Montserrat", sans-serif;
}

#home .absolute-text a {
  display: inline-block;
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f1f1f1;
}

#home .col-product {
  width: 40%;
  padding: 3rem;
}

#home .why-us {
  background-color: #13181C;
  color: #f1f1f1;
}

@media screen and (max-width: 1230px) {
  #home .main-content h2 {
    font-size: 2.75rem;
  }
  #home .main-content h3 {
    margin-top: 1.5rem;
  }
  #home .main-content p {
    width: 55%;
  }
  #home .arrow-right {
    left: 3%;
  }
}

@media screen and (max-width: 990px) {
  #home main {
    height: 600px;
  }
  #home .main-content h2 {
    font-size: 2.5rem;
  }
  #home .arrow-right {
    display: none;
  }
  #home .horizontal-carousel {
    width: 100%;
    margin-left: 0;
    padding: 0 2.5vw;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #home .carousel-card {
    width: 47%;
    min-width: unset;
    margin-right: 0;
  }
  #home .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .col-img {
    width: 100%;
  }
  #home .col-product {
    display: none;
  }
  #home .absolute-text {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  #home main {
    height: 500px;
  }
  #home .main-content p {
    width: 80%;
  }
  #home .horizontal-carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .carousel-card {
    width: 100%;
    min-width: unset;
    margin-right: 0;
    background-color: #fff;
    padding: 2em;
  }
  #home .absolute-text {
    top: 20%;
  }
  #home .absolute-text h2 {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  #home .absolute-text a {
    font-weight: 300;
  }
}

@media screen and (max-width: 700px) {
  #home p {
    font-size: 14px;
  }
  #home .main-content {
    padding-left: 5vw;
  }
  #home .main-content h2 {
    font-size: 2rem;
  }
  #home .main-content p {
    width: 100%;
    padding-right: 5vw;
  }
  #home .absolute-text {
    width: 100%;
  }
  #home .absolute-text h2 {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
  }
  #home .absolute-text a {
    padding-top: 1rem;
    font-weight: bold;
  }
  #home .upcoming-events-container {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  #home .main-content h2 {
    font-size: 1.6rem;
  }
  #home .main-content h3 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=Home.css.map */