@import '../../Styles/variables';
@import '../../Styles/index';


#home{

    main {
        color: #f1f1f1;
        background-image: linear-gradient(
            44deg,#000 56%,#2e2f30);
        height: 700px;
        overflow: hidden;
        position: relative;
        z-index: -1;
    }

    .main-content{
        @extend .container;
        padding-top: 80px;
        position: relative; // for the z-index and the chessboard-img to work.
        z-index: 102;
        padding-left: 40px
    }

    .main-content h2 {
        font-size: $fs-xl * 2.5;
    }

    .main-content h3 {
        font-size: $fs-s * 1.5;
    }

    .main-content p {
        width: 40%;
        font-size: $fs-xs;
    }

    .gradient-bottom {
        width: 100%;
        height: 350px;
        position: relative;
        top: -35%;
        left: 0;
        background-image: linear-gradient(280deg,#000 45%,#2e2f30);
        -webkit-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        -ms-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        transform: translate(0,60%) rotate(-12deg) scale(1.3);
    }
    
    .chessboard-img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .chessboard-img img{
        width: 100%;
    }

    // .test {
    //     height: 300px;
    //     width: 100%;
    //     background:blue;
    //     margin-top: 10px;
    // }

    .services {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #efefef;
        position: relative; // to position the .arrow-right 
    }

    .title-section {
        @extend .container;
    }

    .title-section h4{
        margin-bottom: 2rem;
    }


    .horizontal-carousel {
        padding: 0;
        display: flex;
        overflow-x: auto; // makes it scroll horizontally
        margin-top: 70px;
        margin-left: 10%;
        -ms-overflow-style: none;  /* IE and Edge */ // removes scrollbar
        scrollbar-width: none;  /* Firefox */ // removes scrollbar
    }

    .horizontal-carousel::-webkit-scrollbar {
        display: none;
    }

    .arrow-right {
        position: absolute;
        left: 5%;
        top: 60%;
        color: #333;
    }

    .arrow-right::after {
        content: '\2192';
        /* little make up */
        font-size: 2em;
        /* whatever needed*/
        padding: 0 0.5em;
        /* whatever needed*/
        vertical-align: -0.1em;
        /* whatever needed*/
    }

    .carousel-card {
        min-width: 350px; // makes it 350px on a display flex 
        margin-right: 30px;
        padding: 2.5em;
        padding-top: 2.8em;
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative; // for the card-circle-icon to position
        background-image: linear-gradient(
            180deg,#fff,hsla(0,0%,100%,0));
        transition: all .1s ease-in-out; // makes transition work on hover-off
    }
    
    .carousel-card:hover {
        @extend .box-shadow-sharp;
        transition: all .1s ease-in-out; 
    }

    .card-circle-icon {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        position: absolute;
        top:  -45px;
        left: 2.5em; // same as .carousel-card padding-left
        background-color: #fff;
        @extend .box-shadow-blur;
    }

    .carousel-card h2 {
        color: $tiffany;
        margin-top: 20px;
    }

    .carousel-card h3 {
        margin-top: 1rem;
    }

    .carousel-card p {
        margin-top: 1rem;
    }

    .carousel-card button {
        display: block;
        margin: 0 auto;
        border: none;
        outline: none;
        background: none;
        font-family: $primary-font;
        font-weight: 300;
        font-size: $fs-xs;
        color: $light-grey;
        margin-top: 2rem;
        cursor: pointer;
    }

    .call-to-action-banner {
        width: 100%;
        background-color: $black;
        color: #fff;
        @extend .container;
        padding-top: 5rem;
        padding-bottom: 5rem;
        height: 400px;
    }

    .call-to-action-banner .main-button {
        @extend .main-button;
    }
}


// Start media queries
@media screen and (max-width: 1230px){
    #home {

        .main-content h2 {
            font-size: $fs-xl * 2;
        }
    
        .main-content h3 {
            font-size: $fs-s;
        }
    
        .main-content p {
            width: 55%;
        }

        .arrow-right {
            left: 3%;
        }
    }

}

@media screen and (max-width: 990px){
    #home {

        main {
            height: 600px;
        }

        .main-content h2 {
            font-size: $fs-xl * 1.3;
        }
    

        .arrow-right {
            display: none;
        }

        .horizontal-carousel {
            width: 100%;
            margin-left: 0;
            padding: 0 2.5vw;
            overflow-x: hidden; 
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .carousel-card {
            width: 47%;
            min-width: unset; // removes min-width so flex-wrap can work
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 750px){
    #home {
        main {
            height: 500px;
        }

        .main-content p { 
            width: 80%;
        }

        .services {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .horizontal-carousel {
            flex-direction: column;
        }

        .carousel-card {
            width: 100%;
            min-width: unset; // removes min-width so flex-wrap can work
            margin-right: 0;
            background-color: #fff;
            padding: 2em;
        }
    }
}

@media screen and (max-width: 700px){
    #home {


        p {
            font-size: 14px;
        }
    }

}