@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&display=swap");
* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 1188px) {
  ˝ h3 {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }
}

.box-shadow-sharp, #home .carousel-card:hover, #home .col-product .main-button {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
}

.box-shadow-blur, #home .card-circle-icon {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
}

.main-button, #home .main-button {
  text-align: center;
  background-color: #09AED6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
  padding: 1em 2.5em;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 2rem;
}

.section-padding-top-bottom, #home .services, #home .call-to-action-banner, #home .upcoming-events-container, #home .why-us-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.container, #home .main-content, #home .title-section, #home .call-to-action-banner, #home .absolute-text {
  padding-left: 5vw;
  padding-right: 5vw;
}

#home main {
  color: #f1f1f1;
  background-image: linear-gradient(44deg, #000 56%, #2e2f30);
  height: 700px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

#home .main-content {
  padding-top: 80px;
  position: relative;
  z-index: 102;
  padding-left: 40px;
}

#home .main-content h2 {
  font-size: 6.25rem;
}

#home .main-content h3 {
  font-size: 1.8rem;
}

#home .main-content p {
  width: 40%;
  font-size: 1rem;
}

#home .gradient-bottom {
  width: 100%;
  height: 350px;
  position: relative;
  top: -35%;
  left: 0;
  background-image: linear-gradient(280deg, #000 45%, #2e2f30);
  -webkit-transform: translate(0, 60%) rotate(-12deg) scale(1.3);
  transform: translate(0, 60%) rotate(-12deg) scale(1.3);
}

#home .chessboard-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#home .chessboard-img img {
  width: 100%;
}

#home .services {
  background-color: #efefef;
  position: relative;
}

#home .title-section h4 {
  margin-bottom: 2rem;
}

#home .horizontal-carousel {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-top: 70px;
  margin-left: 10%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#home .horizontal-carousel::-webkit-scrollbar {
  display: none;
}

#home .arrow-right {
  position: absolute;
  left: 5%;
  top: 60%;
  color: #aaaaaa;
}

#home .arrow-right::after {
  content: '\2192';
  /* little make up */
  font-size: 2em;
  /* whatever needed*/
  padding: 0 0.5em;
  /* whatever needed*/
  vertical-align: -0.1em;
  /* whatever needed*/
}

#home .carousel-card {
  min-width: 350px;
  margin-right: 30px;
  padding: 2.5em;
  padding-top: 2.8em;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#home .carousel-card:hover {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#home .card-circle-icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  position: absolute;
  top: -45px;
  left: 2.5em;
  background-color: #fff;
}

#home .carousel-card h2 {
  color: #09AED6;
  margin-top: 20px;
}

#home .carousel-card h3 {
  margin-top: 1rem;
}

#home .carousel-card p {
  margin-top: 1rem;
}

#home .carousel-card button {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #aaaaaa;
  margin-top: 2rem;
  cursor: pointer;
}

#home .call-to-action-banner {
  width: 100%;
  background-color: #000000;
  color: #f1f1f1;
}

#home .call-to-action-banner h2 {
  color: #09AED6;
}

#home .call-to-action-banner h3 {
  font-weight: 300;
}

#home .upcoming-events-container {
  width: 100%;
  padding-bottom: 0;
}

#home .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

#home .col-img {
  width: 60%;
  position: relative;
}

#home .col-img img {
  width: 100%;
}

#home .absolute-text {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 0;
  color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#home .absolute-text a {
  display: inline-block;
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f1f1f1;
}

#home .col-product {
  width: 40%;
  padding: 3rem;
}

#home .why-us-container {
  background-color: #000000;
  color: #f1f1f1;
}

#home .flex-gallery {
  width: 80%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .separator {
  width: 3rem;
  height: 5px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  display: none;
}

#home .gallery-card {
  width: 30%;
  margin-right: 2rem;
  margin-top: 3rem;
}

#home .gallery-card span {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-right: 5px;
  color: #09AED6;
}

#home .gallery-card-img {
  width: 100%;
  margin-bottom: 1.5rem;
}

#home .gallery-card-img img {
  width: 100%;
}

@media screen and (max-width: 1230px) {
  #home .main-content h2 {
    font-size: 5rem;
  }
  #home .main-content h3 {
    font-size: 1.2rem;
  }
  #home .main-content p {
    width: 55%;
  }
  #home .arrow-right {
    left: 3%;
  }
  #home .flex-gallery {
    width: 90%;
  }
  #home .gallery-card {
    width: 25%;
  }
}

@media screen and (max-width: 990px) {
  #home main {
    height: 600px;
  }
  #home .main-content h2 {
    font-size: 3.25rem;
  }
  #home .arrow-right {
    display: none;
  }
  #home .horizontal-carousel {
    width: 100%;
    margin-left: 0;
    padding: 0 2.5vw;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #home .carousel-card {
    width: 47%;
    min-width: unset;
    margin-right: 0;
  }
  #home .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .col-img {
    width: 100%;
  }
  #home .col-product {
    display: none;
  }
  #home .absolute-text {
    display: block;
  }
  #home .flex-gallery {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #home .gallery-card {
    width: 45%;
    margin-right: 0;
  }
}

@media screen and (max-width: 750px) {
  #home main {
    height: 500px;
  }
  #home .main-content p {
    width: 80%;
  }
  #home .services {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #home .horizontal-carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .carousel-card {
    width: 100%;
    min-width: unset;
    margin-right: 0;
    background-color: #fff;
    padding: 2em;
  }
  #home .absolute-text {
    top: 20%;
  }
  #home .absolute-text h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #home .absolute-text a {
    font-weight: 300;
  }
  #home .flex-gallery {
    width: 95%;
    margin: 0 auto;
  }
  #home .separator {
    display: block;
  }
  #home .gallery-card {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #home p {
    font-size: 14px;
  }
  #home .absolute-text h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #home .absolute-text a {
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=Home.css.map */