@import '../../Styles/variables';
@import '../../Styles/index';


#home{

    main {
        color: #f1f1f1;
        height: 60vh;
    }

    .main-content{
        @extend .container;
        padding-top: 60px;
        position: relative;
        z-index: 103;
    }

    h2 {
        @extend .title;
        font-size: $fs-xl * 2.5;
    }

    h3 {
        @extend .subtitle;
        font-size: $fs-xl;
        margin-top: 3rem;
    }

    p {
        @extend .p;
        width: 57%;
        font-size: $fs-xs;
        line-height: 2rem;
        margin-top: 1rem;
    }

    .gradient-right-light {
        width: 100%;
        height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: linear-gradient(
            44deg,#000 56%,#2e2f30);
    }

    .gradient-left-light {
        width: 100%;
        height: 50vh;
        position: absolute;
        bottom: 30vh;
        left: 0;
        z-index: 100;
        background-image: linear-gradient(280deg,#000 45%,#2e2f30);
        -webkit-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        -ms-transform: translate(0,60%) rotate(-12deg) scale(1.3);
        transform: translate(0,60%) rotate(-12deg) scale(1.3);
    }

    .chessboard-img {
        width: 100%;
        position: relative;
        bottom: 38vh;
        left:0;
        z-index: 102;
    }

    .chessboard-img img{
        width: 100%;
    }

    .test { // top: is the same as .chessboard-img bottom
        width: 100%;
        height: 300px;
        position: relative;
        top: -38vh;
        left:0;
        z-index: 102;
        background: white;
    }
}

@media screen and (max-width: 1188px){
    #home {
        .gradient-left-light {
            height: 35vh;
            bottom: 50vh;
        }

        h2 {
            font-size: $fs-xl * 2;
        }
    
        h3 {
            font-size: $fs-s;
            margin-top: 2rem;
        }
    
        p {
            width: 55%;
        }
    }

}

@media screen and (max-width: 990px){
    #home {
        h2 {
            font-size: $fs-xl * 1.7;
        }
    
        h3 {
            font-size: $fs-xs;
            margin-top: 2rem;
        }
    
        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 750px){
    #home {

        h2 {
            font-size: $fs-xl * 1.5;
        }

        p { 
            width: 80%;
        }

        .gradient-left-light {
            bottom: 40vh;
        } 

        .chessboard-img {
            bottom: 18vh;
        }

        .test {
            top: -18vh;
        }
    }
}

@media screen and (max-width: 700px){
    #home {

        h2 {
            font-size: $fs-xl;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

}