@import '../../../Styles/variables';
@import '../../../Styles/index';

.clients {
 background-color: $tiffany;

 .title-section{
     padding-top: 4rem;
 }

 .title-section h3 {
     margin-top: 0;
 }

 .flex-gallery {
     margin-top: 2rem;
     padding-bottom: 4rem;
 }

 .gallery-card {
    background-color: rgba(67, 161, 202, 0.267);
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 .gallery-card-img {
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

 .gallery-card-img img{
    width: 100%;
    height: auto;
 }
}