@import '../../../Styles/variables';
@import '../../../Styles/index';


// .chess-cols have been imported from ./variables
.about-us {
    .why-us{
        @extend .pad-top-bot;
        background-color: $light-tiff;
    }

    .action-btn {
        @extend .main-button;
        background-color: transparent;
        border: 3px solid $black;
        cursor: pointer;
        transition:  .3s ease-in-out;
    }

    .action-btn:hover {
        background-color: $tiffany;
        border: 3px solid $tiffany;
        transition:  .3s ease-in-out;
    }
}

@media screen and (max-width: 700px){
    .about-us {
        > p {
           max-width: 100%;
        }
    }

    .chess-cols.best-practices{
        flex-direction: column-reverse;
    }
}