@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600;700&display=swap");
* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1188px) {
  ˝ h3 {
    margin-top: 2.5rem;
  }
}

.box-shadow-sharp {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
}

.box-shadow-blur {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(222, 222, 222, 0.71);
}

.dark-shadow, .green-button, .contact-us .contact-form input[type=submit] {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
  box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
}

.main-button {
  text-align: center;
  background-color: #09AED6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
  padding: 1em 2.5em;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 2rem;
}

.green-button, .contact-us .contact-form input[type=submit] {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #48EDB8;
  border: none;
  cursor: pointer;
}

.section-padding-top-bottom {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.blue-gradient, .contact-us {
  background: #45bedc;
  background: -webkit-gradient(linear, left top, right top, from(#45bedc), to(#18a3df));
  background: linear-gradient(90deg, #45bedc 0%, #18a3df 100%);
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.contact-us {
  color: #f1f1f1;
}

.contact-us .title-section {
  padding-top: 4rem;
}

.contact-us .title-section h4 {
  font-weight: bold;
  letter-spacing: .5px;
}

.contact-us .contact-form {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4rem;
  padding-bottom: 4rem;
  max-width: 600px;
}

.contact-us .contact-form input[type=text], .contact-us input[type="email"], .contact-us textarea {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: .8rem;
  width: 100%;
  margin-bottom: 1.5rem;
  color: #4B4B4C;
}

.contact-us ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f1f1f1;
  opacity: 1;
  /* Firefox */
}

.contact-us :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f1f1f1;
  opacity: 1;
  /* Firefox */
}

.contact-us ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f1f1f1;
  opacity: 1;
  /* Firefox */
}

.contact-us ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f1f1f1;
  opacity: 1;
  /* Firefox */
}

.contact-us :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f1f1f1;
}

.contact-us ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f1f1f1;
}

.contact-us .checkbox-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: .8rem;
  margin-bottom: 1.5rem;
}

.contact-us .checkbox-container h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

.contact-us .form-option {
  margin-bottom: .5rem;
}

.contact-us .form-option label {
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  color: #4B4B4C;
  cursor: pointer;
}

.contact-us .form-errors {
  background-color: #da2f2f;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

.contact-us .success-message {
  background-color: #48EDB8;
  color: #f1f1f1;
  width: 90%;
  max-width: 400px;
  padding: 2rem 1rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 201;
}

.contact-us .success-message p {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 700px) {
  .contact-us .success-message h2 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=ContactUs.css.map */